<!DOCTYPE html>
<html lang="en">
<head>
<title>EJS Template</title>
</head>
<body>
	<table>
      <th colspan="<%= colors[0].length %>"> RANDOM COLORS </th>
        <% for(var i=0; i < colors.length; ++i) { %>
          <tr>
          <% for(var j=0; j < colors[i].length; ++j) { %>
            <td bgcolor="<%= colors[i][j] %>"> <font color="<%= fontColor[i] %>">Color: <%= fontColor[i] %></font></td>
          <% } %>
          </tr>
        <% } %>
    </table>
</body>
</html>