<!DOCTYPE html>
<html lang="en">
<head>
<title>EJS Template</title>
</head>
<body>
	<table>
      <th colspan="<%= colors.rgb[0].length %>"> RANDOM COLORS </th>
        <% for(var i=0; i < colors.rgb.length; ++i) { %>
          <tr>
          <% for(var j=0; j < colors.rgb[i].length; ++j) { %>
            <td bgcolor="<%= colors.rgb[i][j] %>"> <font color="<%= colors.altFontColor[i] %>">Color: <%= colors.altFontColor[i] %></font></td>
          <% } %>
          </tr>
        <% } %>
    </table>
</body>
</html>