@charset "ISO-8859-1";

/* I grabbed this off of: https://gist.githubusercontent.com/eirikbakke/1059266/raw/d81dba46c76169c2b253de0baed790677883c221/gistfile1.css */
/* Applies to the entire body of the HTML document (except where overridden by more specific selectors). */
body {
  margin: 2px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

/* Applies to all <h1>...</h1> elements. */
h2 {
  font-size: 25px;
  font-weight: normal;
  margin-top: 5px;
}

/* Applies to all elements with <... class="someclass"> specified. */
.groceryclass { color: darkgray; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }